.navbar-brand{
    padding-left: 20px;
}

.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 5px px 5px;
    margin: 10px;
    
    

}
.btn-reserva{
    width: 100%;
    
}
.footer-address-icon{
    padding-right: 10px;

}
.add-btn-cardhotel{
    padding-right: 5px;
}

.tab-content{
    padding-top:10px;
}